
    <!-- Error CSS -->
    <link href="css/login.css" rel="stylesheet" media="screen">

    <!-- Icomoon Icons -->
    <link href="fonts/icomoon/icomoon.css" rel="stylesheet" />

  <%= form_tag "/login", method: :post do %>
      <div id="login-wrapper">
        <div id="login_header">
          <img src="img/logo.png" class="logo" alt="Admin Dashboard" />
        </div>
        <div class="login-user">
          <img src="img/user2.png" alt="User" />
        </div>
        <h5>Sign in to access to your StartUp admin control panel.</h5>
        <div id="inputs">
          <div class="form-block">
            <input type="email" placeholder="Email" name="email">
            <i class="icon-envelope"></i>
          </div>
          <div class="form-block">
            <input type="password" placeholder="Password" name="password"/>
            <i class="icon-eye2"></i>
          </div>
          <input type="submit" value="Login" />
        </div>
        <span class=""><%= link_to "Register", "/signup" %></span>
      </div>
  <% end %>






