<h1>Group Directory</h1> 
<% @groups.each do |group|%>
  <div ng-app="app">
    <div ng-controller="groupsCtrl">
      <div class="well" ng-repeat="group in groups">
         <p><h2><a href="/groups/{{group.id}}" title="">{{group.name}}</a></h2></p>
           <p>{{group.bio}}</p>
           <h3>Categories</h2>
           <p ng-repeat="category in group.categories"> 
           {{category.name}}</p>
      </div>
    </div>
  </div>
<% end %>