<h1 class="heading">Group Directory</h1> 
  <div ng-app="app">
    <div ng-controller="groupsCtrl">
      <input class="search" placeholder="Search Groups" ng-model=" inputName">
  
      <br>
      <div class="col-sm-4 well group" ng-repeat="group in groups | filter:{name: inputName}">
           <small>{{group.members.length}} Members</small>
         <a href="/groups/{{group.id}}"><p><h2><button class="groupheader">{{group.name}}</button></h2></a></p>
           <em>{{group.bio}}</em>
<br>
           <span class="well cats" ng-repeat="category in group.categories"> 
           {{category.name}}</span>
           <br>

      </div>

    </div>
  </div>
