<h1>Group Directory</h1> 
  <div ng-app="app">
    <div ng-controller="groupsCtrl">
      Search: <input ng-model=" inputName">
      <div class="well" ng-repeat="group in groups | filter:{name: inputName}">
         <p><h2><a href="/groups/{{group.id}}">{{group.name}}</a></h2></p>
           <p>{{group.bio}}</p>
           <h3>Categories</h2>
           <p ng-repeat="category in group.categories"> 
           {{category.name}}</p>
      </div>
    </div>
  </div>
