<div ng-app="app">
  <div id="messages-<%= @group.id %>" ng-controller="messagesCtrl" ng-init="setup(<%= @group.id %>)">
    <div class="message" ng-repeat="message in messages | orderBy:'created_at'">
      {{ message.name }}: <span class="well">{{ message.body }}</span>
    </div>

    <% if current_user %>
      <div>
     <form ng-submit="createNewMessage(newMessageBody, <%= current_user.id %>, <%= @group.id %>)">
        <label for="body">New message: </label>
        <input type="text" id="body" ng-model="newMessageBody">
        <input type="submit">
      </form>
      </div>
    <% else %>
      <br />
      <div><a href="/login">Log in</a> to submit a new message!</div>
    <% end %>
  </div>
</div>
