<div ng-app="app">
  <div ng-controller="appointmentsCtrl" ng-init="setup()">
  <%= month_calendar do |date| %>
    <%= date.day %>
    <div ng-repeat="appointment in appointments">
    <button type="button" ng-if="appointment.date === <%= date.to_json %>" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="{{appointment.start_time}}">
        {{appointment.title}}
    </button>


    </div>
    <% end %>
  </div>

</div>
