<div ng-app="app">
  <div ng-controller="appointmentsCtrl" ng-init="setup()">
  <%= month_calendar do |date| %>
    <%= date.day %>
    <div ng-repeat="appointment in appointments">
      <div class="well" ng-if="appointment.date === <%= date.to_json %>">
        {{appointment.title}}
        
      </div>


    </div>
    <% end %>
  </div>
</div>