<div ng-app="app">
  <div ng-controller="appointmentsCtrl" ng-init="setup()">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createModal">
        New Appointment
    </button>
  <%= month_calendar do |date| %>
    <%= date.day %>
    <div ng-repeat="appointment in appointments">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-if="appointment.date === <%= date.to_json %>">
        <p ng-click="show(appointment)">{{appointment.title}}</p>
    </button>

    </div>

    <% end %>

    <!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">{{selectedAppt.title}}</h1>
        <span><button ng-click="reveal()" ><i class="icon-pencil info-icon text-warning">Edit</i></button></span>
      </div>
      <div class="modal-body">
      <div id="show">
        <p>{{selectedAppt.date}}</p>
        <p>{{selectedAppt.start_time}} -
        {{selectedAppt.end_time}}</p>
        <hr>
        <p>{{selectedAppt.address}}</p>
        <p>{{selectedAppt.city}}</p>
        <p>{{selectedAppt.state}}</p>
        <p>{{selectedAppt.zip_code}}</p>    
        <hr>
      </div>
        <div id="models" style="visibility: hidden;">
          <p>Title: <input ng-model="selectedAppt.title" type="text"></p>
          <p>Date: <input ng-model="selectedDate" type="date" ></p>
          <p>Start Time: <input ng-model="selectStart" type="time"></p>
          <p>End Time: <input ng-model="selectedAppt.end_time" type="time"></p>
          <p>Address: <input ng-model="selectedAppt.address" type="text"></p>
          <p>City: <input ng-model="selectedAppt.city" type="text"></p>
          <p>State: <input ng-model="selectedAppt.state" type="text"></p>
          <p>Zip Code: <input ng-model="selectedAppt.zip_code" type="number"></p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="updateAppt(selectedAppt.title, selectedAppt.date, selectedAppt.start_time, selectedAppt.end_time, selectedAppt.id)" data-dismiss="modal">Edit</button>
      </div>
    </div>
  </div>
</div>


<!-- Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title" id="myModalLabel">New Appointment</h1>
      </div>
      <div class="modal-body">
        <div id="models">
          <p>Title: <input ng-model="title" type="text"></p>
          <p>Date: <input ng-model="todayDate" type="date" ></p>
          <p>Start Time: <input ng-model="start_time" type="time"></p>
          <p>End Time: <input ng-model="end_time" type="time"></p>
          <p>Address: <input ng-model="address" type="text"></p>
          <p>City: <input ng-model="city" type="text"></p>
          <p>State: <input ng-model="state" type="text"></p>
          <p>Zip Code: <input ng-model="zip_code" type="number"></p>
          <p>Invitees: <label ng-repeat="user in users"><input ng-model="members" type="checkbox"     ng-checked="user.id > 1000"
          ng-click="invite(user)">{{user.email}}</label></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" ng-click="createAppt(title, todayDate, start_time, end_time, address, city, state, zip_code, members)" class="btn btn-primary">Save Appointment</button>
      </div>
    </div>
  </div>
</div>


  

  <!-- end of controller -->
  </div>
  <!-- end of ng-app -->
</div>