
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

    <h3>My Google Maps Demo</h3>
    <div ng-app="app">
    <div ng-controller="appointmentsCtrl" ng-init="mapIndex()">
        <div id="map">
          <script
          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEaMIRxf3lBdpTcdDKT_RaN6jZWQjehWY">
          </script>
        </div>
      </div>
    </div>