
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>

    <h3>Meetup Radar</h3>

    <div ng-app="app">
    <div ng-controller="mapCtrl" ng-init="mapIndex()">
    <input type="date" name="dateFilter" ng-model="dateFilter" value={{date}}>
    <button ng-click="mapIndex()">Search</button>
        <div id="map">
<!--           <script
          src="https://maps.googleapis.com/maps/api/js?key=#{ENV['google_api_key']}">
          </script> -->
           <script
           src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&callback=initMap"
  type="text/javascript"></script>
        </div>
      </div>
    </div>