<h1>New Appointment</h1>

<br>

<%= form_tag "/appointments", method: post: do %>
<p>Title <input type="text" name="title"></p>
<p>Date: <input type="date" name="date"> </p>
<p>Start Time: <input type="time" name="start_time"> </p>
<p>End Time: <input type="time" name="end_time"> </p>
<p>End Time: <input type="time" name="end_time"> </p>
<p>Invitees(example: [1,7,212]) <input type="text" name="user_ids"> </p>
<% end %>