<h1>New Appointment</h1>

<br>

<%= form_tag "/appointments", method: :post do %>
<p>Title <input type="text" name="title"></p>
<p>Date: <input type="date" name="date"> </p>
<p>Start Time: <input type="time" name="start_time"> </p>
<p>End Time: <input type="time" name="end_time"> </p>
<p>Location:</p>
Address<input type="text" name="address">
City<input type="text" name="city">
State<input type="text" name="state">
Zip Code<input type="text" name="zip_code">
<p>Invitees</p>
<%= select_tag '[user_ids][]', options_for_select(User.all.collect {|p| [ p.first_name, p.id ] }), { multiple: true, id: "user" } %>
<input type="submit" value="Create Appointment">
<% end %>